body {
	margin: 40px auto;
	max-width: 1024px;
	font-size: 18px;
	padding: 0 10px;
}

h1, h2 {
	display: inline;
}

a[rel~="tag"] {
	text-decoration: none;
	border-radius: 25px;
	padding: 8px;
	line-height: 64px;
}

a[type~="application/pdf"]::after {
	content: ' [PDF]';
}

a[href*="medium.com"]::after {
	content: ' [Medium]';
}

blockquote {
	padding-right: 25px;
	padding-left: 15px;
	margin-top: 30px;
}

blockquote::after, blockquote::before {
	font-size: 40px;
	content: '"';
}

blockquote p {
	display: inline;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	padding: 8px;
}

code, pre {
}

p {
	text-align: justify;
	text-justify: auto;
}

abbr {
	cursor: help;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: 8px;
}

#navbar li a {
	float: left;
	display: block;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

#navbar li#searchform {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar input[type="search"] {
	width: 5rem;
}

#navbar input[type="search"]:focus {
	width: 15rem;
}

