body {
	color: #EEEEEE;
	background: #000000;
}

h1, h2 {
	color: #FF0000;
}

a {
	color: #565656;
}

a[rel~="tag"] {
	background-color: #444444;
	color: #333333;
}

blockquote {
	border-left: 5px solid #333333;
}

blockquote::after, blockquote::before {
	color: #333333;
}

td, th {
	border: 1px solid #CCCCCC;
}

code, pre {
	background-color: #444444;
}

#navbar,
#navbar li a {
	background-color: #444444;
	color: #333333;
}

#navbar li a:hover{
	background-color: #444444;
	color: #565656;
}

