body {
	color: #EEEEEE;
	background: #444444;
}

h1, h2 {
	color: #6DFA8B;
}

a {
	color: #E6E6E6;
}

a[rel~="tag"] {
	background-color: #EEEEEE;
	color: #444444;
}

blockquote {
	border-left: 5px solid #333333;
}

blockquote::after, blockquote::before {
	color: #333333;
}

td, th {
	border: 1px solid #CCCCCC;
}

code, pre {
	background-color: #555555;
}

#navbar,
#navbar li a {
	background-color: #EEEEEE;
	color: #444444;
}

#navbar li a:hover{
	background-color: #555555;
	color: #E6E6E6;
}

