body {
	color: #444444;
	background: #EEEEEE;
}

h1, h2 {
	color: #FA8B6D;
}

a {
	color: #333333;
}

a[rel~="tag"] {
	background-color: #444444;
	color: #EEEEEE;
}

blockquote {
	border-left: 5px solid #CCCCCC;
}

blockquote::after, blockquote::before {
	color: #CCCCCC;
}

td, th {
	border: 1px solid #CCCCCC;
}

code, pre {
	background-color: #DDDDDD;
}

#navbar,
#navbar li a {
	background-color: #444444;
	color: #EEEEEE;
}

#navbar li a:hover{
	background-color: #DDDDDD;
	color: #333333;
}

